body {
  background: #C7FFF9; 
  background: -webkit-linear-gradient(to right, #E7C7FF, #C7FFF9);  
  background: linear-gradient(to right, #E7C7FF, #C7FFF9); 
  font-family: 'Indie Flower', sans-serif;
}

h1 {
  font-size: 48px;
}

h2 {font-size: 28px;
    color: #BD00FF;
    }



h2, h3, h4 {
  font-size: 28px;
    color: #BD00FF;

}


a, a:hover {
  text-decoration: none;
}

p, ul, ol {
  font-size: 15px;
}

.cadre {
  background: #FCD1FF;
  border: 20px solid #F9A7FF;

  padding: 30px 80px;
  border-radius: 15px;
  box-shadow: 30px 30px 25px #84FFF8;
}

.margin-100px {
  margin: 100px;
}

.margin-right-20px {
  margin-right: 90px;
}

.avatar {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 5px 5px 10px #red;
}

.production {
  width: 300px;
  height: 500px;
  object-fit: cover;
  border-radius: 3px;
  box-shadow: 2px 2px 10px grey;
  margin: 10px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.color-green {
  color: #F090FF;
}

.btn-pink {
  display: inline-block;
  padding: 15px;
  margin: 15px;
  border: 4px solid pink;
  border-radius: 3px;
  color: #F090FF;
  font-weight: bold;
  text-decoration: none;
}

.btn-pink:hover {
  background: #DEFFFE ;
}

.line-transparent {
  background: black;
  color: white;
  display: flex; /* Permet de mettre les enfants les uns à coté des autres */
  justify-content: space-around;
  align-items: center;
/*  height: 600px;*/
}



.line-dark {
  background: #E52BFF;
  width: 50%;
  height: 30px;
}

.line-medium {
  background: #F298FF;
  width: 30%;
  height: 30px;
}

.line-light {
  background: #F8CBFF;
  width: 20%;
  height: 30px;
}

.display-flex {
  display: flex;
  justify-content: center;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: #7EFFE9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 42px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


.bar-line {
  height: 100%;
  background: linear-gradient(to right, red, yellow, green);
  border-radius: 8px;
}
.bar-progress {
  display: block;
  border: 1px solid #12161d;
  height: 100%;
  width: 0;
  box-sizing: border-box;
  border-radius: 8px;
  background: repeating-linear-gradient(
      90deg,
      transparent,
      transparent 5%,
      #002450 5%,
      #002450 10%
    ),
    repeating-linear-gradient(
      -90deg,
      transparent,
      transparent 5%,
      #002450 5%,
      #002450 10%
    );
  box-shadow: inset 0 3px 0 rgba(255, 255, 255, 0.09),
    inset 0 0 0 1px rgba(230, 230, 231, 0.23);
}
.bar:hover .bar-progress {
  -webkit-animation: change 3s forwards;
  animation: change 3s forwards;
}

.bar-progress::after {
  content: attr(data-percent);
  position: absolute;
  width: 100%;
  font-size: 20px;
  color: transparent;
  top: -20px;
}
.bar:hover .bar-progress::after {
  color: white;
  transition: color 3s linear;
}
@-webkit-keyframes change {
  to {
    width: 90%;
  }
}
@-keyframes change {
  to {
    width: 90%;
  }
}

p {
  animation-duration: 3s;
  animation-name: glissement;
  animation-iteration-count: 
}

.infini {
  animation-iteration-count:
}

.dix {
  animation-iteration-count: 10; 
}

@keyframes glissement {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


.laca{
    height: 600px;
  width: 1000px;
}


body {
  overflow-x: hidden;
}

body {
  animation: bgDarken 10s linear;
}

.machine {
  position: relative;
  margin-top: 20%;
  border-top: 5px solid white;
  border-bottom: 2px solid white;
  height: 200px;
  background-color: #FBDEFF;
  background-size: 15px 15px;
  background-position: 0 0, 30px 30px;
  width: 100%;




}
